/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --grey: #a3a3a3;
}

/* COMMON */

main {
    min-width: 550px;
}

.flex-cont {
    display: flex;
}

img {
    height: 100%;
    display: inline-block;
}

.white {
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

.show-mobile {
    display: none;
}

ul {
    list-style-type: none;
}

h2 {
    padding: 25px 25px;
}

h3 {
    font-size: 15px;
}

/* *************************************************************
                            MAIN
************************************************************* */

main {
    width: 100%;
    height: calc(100vh - 100px);
}

/************************* aside *******************************/

aside {
    width: 250px;
    color: var(--grey);
    background-color: black;
    font-size: 14px;
    line-height: 38px;
    flex-direction: column;
}

/* logo section */

.logo {
    width: 100%;
}

.logo img {
    height: 40px;
    margin: 15px 22px;*
}

/* home section */
.home {
    width: 100%;
}

.home img {
    height: 28px;
    padding-right: 5px;
    vertical-align: middle;
    filter: opacity(0.4);
}

.home > .white img {
    filter: opacity(1);
}

.home  a:hover img {
    filter: opacity(1);
}

.home div {
    padding-left: 22px;
}

.home .white {
    border-left: 3px solid #adff2f;
    padding-left: 19px;
}

/* playlist */
.playlist {
    padding-left: 22px;
    flex-grow: 1;
    min-height: 150px;
    overflow-y: auto;
}

.new-playlist i {
    font-size: 40px;
    vertical-align: middle;
    padding-right: 5px;
}

.new-playlist {
    font-size: 17px;
}

/* download */
.download-account {
    width: 100%;
    padding: 10px 20px;
}

.download img {
    height: 20px;
    vertical-align: middle;
    padding-right: 10px;
}

.download hr {
    color: grey;
    width: 100%;
}

/* account */
.account {
    width: 100%;
    padding-top: 10px;
}

.account img {
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 10px;
    background-color: var(--grey);
    border-radius: 50%;
}

aside a:hover {
    color: white;
}

/********************  upgrade banner *************************/

.upgrade-banner {
    height: 100px;
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 250px);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    text-align: right;
}

.button {
    display: inline-block;
    border: 1px solid white;
    padding: 10px 25px;
    border-radius: 20px;
    margin: 29px 5px;
}
/**********************  main content *************************/

.main-content {
    width: calc(100% - 250px);
    color: var(--grey);
    background-color: #141922;
    padding-top: 100px;
    overflow-y: auto;
}

/* nav */

nav {
    width: 50%;
    margin: 10px auto;
}

nav > ul {
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-size: 14px;
}

nav li {
    padding: 10px;
    font-weight: 700;
}

li span {
    padding-bottom: 5px;
    border-bottom: 3px solid #adff2f;
    
}

/* recently played */

.container {
    padding: 25px;
    overflow-y: auto;
}

.played > .container {
    padding-top: 0;
}

.col {
    flex-wrap: wrap;
}

.card {
    width: calc((100% / 6) - 10px);
    margin: 0 5px 5px 5px;
}

.card:first-child {
    margin-left: 0;
}

.card:last-child {
    margin-right: 0;
}

.card > img {
    width: 100%;
    height: auto;
}

.info-card {
    text-align: center;
    height: 75px;
    overflow: hidden;
}

.info-card > div {
    font-size: 12px;
}

/* consigliati e popular*/
.for-user > h2, .popular > h2 {
    padding-bottom: 10px;
}

.for-user > p, .popular > p {
    font-size: 14px;
    padding: 0 0 20px 25px;
}

.for-user .info-card, .popular .info-card {
    height: 35px;
}

.popular img {
    border-radius: 50%;
}

/* *************************************************************
                            FOOTER
************************************************************* */

footer {
    color: var(--grey);
    width: 100%;
    height: 100px;
    background-color: #282828;
    position: relative;
    z-index: 2;
}

footer > .flex-cont {
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

footer section {
    background-color: pink;
}

.foot-left, .foot-right {
    height: 65%;
}

.foot-mid {
    height: 80%;
}

/* *************************************************************
                            TABLET
************************************************************* */
@media screen and (max-width: 1100px) {
    .card {
        width: calc( (100% / 4) - 10px);
        margin: 0 5px 5px 5px;
    }
    
    .card:nth-child(4) {
        margin-right: 0;
    }

    .card:nth-child(5) {
        margin-left: 0;
    }

    
}

/* *************************************************************
                        LARGE MOBILE
************************************************************* */

@media screen and (max-width: 700px) {
    .card {
        width: calc( (100% / 2) - 5px);
        margin: 0 5px 5px 5px;
    }
    
    .card:nth-child(even) {
        margin-right: 0;
    }

    .card:nth-child(odd) {
        margin-left: 0;
    }
}

/* *************************************************************
                        SMALL MOBILE
************************************************************* */

@media screen and (max-width: 600px) {

    /* layout */
    aside {
        width: 75px;
    }

    .main-content {
        width: calc(100% - 75px);
    }

    .upgrade-banner {
        width: calc(100% - 75px);
    }

    .show-mobile {
        display: block;
    }

    .show-desktop {
        display: none;
    }

    /* aside */
    .home {
        padding: 0;
    }

    .home div, .home .white {
        padding: 0;
        margin: 10px auto;
        text-align: center;
    }

    .home img {
        padding: 0;
    }

    .logo img {
        margin: 10px auto;
    }

    .download-account div {
        padding: 0;
        text-align: center;
        margin: auto;
    }

    .download img {
        padding-right: 2.5px;
    }

    .account img {
        margin: auto;
    }

}
